@if (kampagne) {
  <div class="container">
    <h1>{{ kampagne.name }}</h1>

    <button class="btn-primary" (click)="navigateToCreateWertung()">Neue Wertung</button>

    @for (wertung of kampagne.wertungen; track wertung.id) {
      <details class="accordion">
        <summary>{{ wertung.dateCreated | date: 'dd.MM.yyyy HH:mm' }}</summary>
        <div class="accordion-body">
          <table>
            <tr>
              <td>Punkte Auftrag:</td>
              <td>{{ wertung.punkteAuftrag }}</td>
            </tr>
            <tr>
              <td>Punkte längster Fluss und Schiene:</td>
              <td>{{ wertung.punkteLaengste }}</td>
            </tr>
            <tr>
              <td>Punkte für Fahnen:</td>
              <td>{{ wertung.punkteFahnen }}</td>
            </tr>
            <tr>
              <td>Punkte für Freigespielt:</td>
              <td>{{ wertung.punkteFreigespielt }}</td>
            </tr>

            <tr>
              <td><b>Gesamtpunkte:</b></td>
              <td>
                <b>{{ wertung.gesamtPunkte }}</b>
              </td>
            </tr>
          </table>
        </div>
      </details>
    }
  </div>
}
