<div class="container">
  <h1>Kampagne anlegen</h1>

  <form (ngSubmit)="submitKampagneNew()" #kampagneForm="ngForm">
    <div class="form-group">
      <label for="name">Name der Kampagne</label>
      <input
        type="text"
        id="name"
        required
        [(ngModel)]="kampagne.name"
        name="name"
        #name="ngModel"
      />
      @if (name.invalid && (name.dirty || name.touched)) {
        @if (name.hasError('required')) {
          <p class="text-danger">Name der Kampagne ist erforderlich.</p>
        }
      }
    </div>

    <div class="form-group">
      <label for="spielleiter">Spielleiter</label>
      <input
        type="text"
        id="spielleiter"
        required
        [(ngModel)]="kampagne.spielleiter"
        name="spielleiter"
        #spielleiter="ngModel"
      />
      @if (spielleiter.invalid && (spielleiter.dirty || spielleiter.touched)) {
        @if (spielleiter.hasError('required')) {
          <p class="text-danger">Name des Spielleiters ist erforderlich.</p>
        }
      }
    </div>

    <div class="form-group">
      <label for="anzahlSpieler">Anzahl der Spieler</label>
      <input
        type="number"
        id="anzahlSpieler"
        required
        min="1"
        max="8"
        step="1"
        [(ngModel)]="kampagne.anzahlSpieler"
        name="anzahlSpieler"
        #anzahlSpieler="ngModel"
      />
      @if (anzahlSpieler.invalid && (anzahlSpieler.dirty || anzahlSpieler.touched)) {
        @if (anzahlSpieler.hasError('required')) {
          <p class="text-danger">Die Anzahl der Spieler ist erforderlich.</p>
        }
      }
    </div>

    <button class="btn-primary" type="submit">Kampagne erstellen</button>
  </form>
</div>

