.container {
  padding: 1rem;
}

.tabs > input[type='radio'] {
  display: none;
}

.tabs > .tab-content {
  display: none;
  padding: 1rem 0;
}

.tabs > input[type='radio']:checked + label + .tab-content {
  display: block;
}

.tabs > label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
}

.tabs > input[type='radio']:checked + label {
  border-bottom-color: var(--primary);
}

fieldset {
  margin-bottom: 1.5rem;
}

.btn-primary {
  width: 100%;
}

