:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.card {
  margin: 12px;
  padding: 16px;
  height: min-content;
  max-width: 500px;
  text-align: center;
}

.form-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}
